node_modules/

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Lock files
.terraform.lock.hcl

# Ignore .terraform.tfstate.lock.info files
.terraform.tfstate.lock.info

# Ignore terraform.tfstate.backup files
terraform.tfstate.backup