node_modules/

# Local .terraform directories
/terraform-infrastructure/.terraform*

# .tfstate files
terraform-infrastructure/.tfstate
terraform-infrastructure/.tfstate.

# Lock file
terraform-infrastructure/.terraform.lock.hcl
terraform-infrastructure/.terraform.tfstate.lock.info

terraform-infrastructure/terraform.tfstate.backup